<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>LAbyOne © 2020</string>
	<key>Droppable</key>
	<false/>
	<key>Interpreter</key>
	<string>/bin/bash</string>
	<key>InterpreterArgs</key>
	<array/>
	<key>Output</key>
	<string>None</string>
	<key>RemainRunning</key>
	<false/>
	<key>ScriptArgs</key>
	<array/>
	<key>Secure</key>
	<true/>
	<key>Suffixes</key>
	<array/>
	<key>TextSettings</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKIHCFUkbnVsbE8QPyMhL2Jpbi9iYXNoCgpvcGVuICdNYWluLm5pYi9PcGVuQ29y
	ZSBUaGVtZXMgRG93bmxvYWRlci5jb21tYW5kJ18QD05TS2V5ZWRBcmNoaXZlctELDFRy
	b290gAEIERojLTI3OkCClJecAAAAAAAAAQEAAAAAAAAADQAAAAAAAAAAAAAAAAAAAJ4=
	</data>
</dict>
</plist>
